# Exercise the unit tests

name: Build deploy-js dist

on:
  workflow_dispatch: {}
  push:
    branches-ignore:
      - release/*

permissions:
  contents: write

jobs:
  build_release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup git
        run: |
          git --version
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install node dependencies
        run: |
          corepack enable
          yarn install --immutable --inline-builds
          yarn install --immutable --inline-builds --cwd deploy

      - name: Run build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          bash ${{ github.workspace }}/.github/workflows/build.sh --push
